<div class="formGroup">
    <label for="song">Song:</label>
    <select id="song" value="<%= article.song %>" name="song">
        <option value="726">726</option>
        <option value="allineed">All I Need</option>
        <option value="animal">Animal</option>
        <option value="arcadia">Arcadia</option>
        <option value="arise">Arise</option>
        <option value="arrow">Arrow</option>
        <option value="atlasdogs">Atlas Dogs</option>
        <option value="awesternsun">A Western Sun</option>
        <option value="bobdon">Bob Don</option>
        <option value="borne">Borne</option>
        <option value="butterflies">Butterflies</option>
        <option value="californiamagic">California Magic</option>
        <option value="creatures">Creatures</option>
        <option value="dimlights">Dim Lights</option>
        <option value="doobiesong">Doobie Song</option>
        <option value="dragonfly">Dragonfly</option>
        <option value="drdarkness">Dr. Darkness</option>
        <option value="dripfield">Dripfield</option>
        <option value="drive">Drive</option>
        <option value="earthlingoralien">Earthling Or Alien?</option>
        <option value="echoofarose">Echo of a Rose</option>
        <option value="elizabeth">Elizabeth</option>
        <option value="elmegthewise">Elmeg The Wise</option>
        <option value="everythingmustgo">Everything Must Go</option>
        <option value="feelitnow">Feel It Now</option>
        <option value="flowdown">Flowdown</option>
        <option value="honeybee">Honeybee</option>
        <option value="hottea">Hot Tea</option>
        <option value="hungersite">Hungersite</option>
        <option value="indianriver">Indian River</option>
        <option value="intothemyst">Into The Myst</option>
        <option value="itburnswithin">It Burns Within</option>
        <option value="jeffengborg">Jeff Engborg</option>
        <option value="jivei">Jive I</option>
        <option value="jiveii">Jive II</option>
        <option value="jivelee">Jive Lee</option>
        <option value="leadtheway">Lead The Way</option>
        <option value="leadup">Lead Up</option>
        <option value="lifeontheshelf">Life on the Shelf</option>
        <option value="lilystiger">Lily's Tiger</option>
        <option value="looseends">Loose Ends</option>
        <option value="madhuvan">Madhuvan</option>
        <option value="moby">Moby</option>
        <option value="moonrise">Moonrise</option>
        <option value="mraction">Mr. Action</option>
        <option value="notalone">Not Alone</option>
        <option value="pancakes">Pancakes</option>
        <option value="redbird">Red Bird</option>
        <option value="rockdale">Rockdale</option>
        <option value="rosewoodheart">Rosewood Heart</option>
        <option value="seekersontheridge">Seekers on the Ridge</option>
        <option value="silverrising">Silver Rising</option>
        <option value="slowready">Slow Ready</option>
        <option value="soready">So Ready</option>
        <option value="spiritofthedarkhorse">Spirit of the Dark Horse</option>
        <option value="thatch">Thatch</option>
        <option value="theempressoforganos">The Empress of Organos</option>
        <option value="thelabyrinth">The Labyrinth</option>
        <option value="theoldmansboat">The Old Man's Boat</option>
        <option value="thewhales">The Whales</option>
        <option value="thisoldsea">This Old Sea</option>
        <option value="timetoflee">Time To Flee</option>
        <option value="travelers">Travelers</option>
        <option value="trevorreadspoetry">Trevor Reads Poetry</option>
        <option value="tumble">Tumble</option>
        <option value="turkishhills">Turkish Hills</option>
        <option value="turnedclouds">Turned Clouds</option>
        <option value="whitelights">White Lights</option>
        <option value="wysterialane">Wysteria Lane</option>
        <option value="yeti">Yeti</option>
        <option value="yourocean">Your Ocean</option>
      </select>
</div>

<div class="formGroup">
    <label for="date"> Show Date:</label>
    <input required value = "<%= article.date %>" type="date" name="date" id="date">
</div>

<div class="formGroup">
    <label for="venue">Venue:</label>
    <input value="<%= article.venue %>" type="text" name="venue" id="venue">
</div>

<div class="formGroup">
    <label for="city">City:</label>
    <input value="<%= article.city %>"type="text" name="city" id="city">
</div>

<div class="formGroup">
    <label for="description">Description:</label>
    <input  value="<%= article.description %>"  type="text" name="description" id="description">
</div>

<div class="formGroup2">
    <a href="/" id="cancelButton">Cancel</a>
    <button id="submitButton" type="submit">Submit</button>
</div>
